---
import "../styles/globals.css";
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Work from "../components/Work.astro";
import Skills from "../components/Skills.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Welcome to my Portfolio!</title>
  </head>
  <body class="w-full min-h-screen flex flex-col justify-start items-center">
    <Navbar />
    <Header />
    <About />
    <Work />
    <Skills />
  </body>
  <script src="../scripts/scroll.js"></script>
  <script src="../scripts/navbar/dropdown.js"></script>
  <script src="../scripts/navbar/links.js"></script>
  <script src="../scripts/works/filter.js"></script>
</html>
