<nav
  class="w-3/4 max-w-7xl border-y-2 rounded-xl border-th-tertiary min-h-fit"
>
  <div
    class="text-th-tertiary font-mono text-md flex flex-row justify-between items-center mx-auto px-10 py-2 gap-3"
  >
    <div class="m-1">Logo LinkedIN Github</div>
    <div class="flex flex-wrap">
      <ul class="flex gap-4 m-4 flex-wrap">
        <li>Theme Selector</li>
        <li>Home</li>
        <li>About</li>
        <li>Work</li>
        <li>Skills</li>
      </ul>
    </div>
  </div>
</nav>
