<nav
  class="fixed z-50 w-3/4 max-w-7xl border-y-2 rounded-xl border-th-tertiary min-h-fit bg-th-background opacity-90"
>
  <div
    class="text-th-tertiary font-mono text-lg flex flex-row lg:justify-between justify-center items-center mx-auto px-10 py-2 gap-3"
  >
    <div
      class="xxs:max-lg:hidden m-1 p-2 flex flex-row flex-wrap justify-center items-center gap-3"
    >
      <a href="#">
        <img
          src="/images/adzhalogo.png"
          alt="Portfolio Logo"
          width={128}
          style={{ background: "white", borderRadius: "20%", opacity: 0.5 }}
        />
      </a>
      <a href="https://linkedin.com/in/ali-dzhan-ali-226490235"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="42"
          height="42"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-linkedin"
          ><path
            d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
          ></path><rect width="4" height="12" x="2" y="9"></rect><circle
            cx="4"
            cy="4"
            r="2"></circle></svg
        >
      </a>
      <a href="https://github.com/adzhPhy"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-github"
          ><path
            d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
          ></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg
        ></a
      >
    </div>
    <div class="flex flex-wrap justify-center items-center">
      <div class="flex flex-row justify-center items-center flex-wrap">
        <!-- dropdown menu -->
        <div class="dropdown box-border min-w-fit relative m-2">
          <div
            class="select hover:bg-th-primary flex justify-between items-center rounded-lg p-1 cursor-pointer transition-all duration-300"
          >
            <div class="selected">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-gamepad"
                id="icon-active"
                ><line x1="6" x2="10" y1="12" y2="12"></line><line
                  x1="8"
                  x2="8"
                  y1="10"
                  y2="14"></line><line x1="15" x2="15.01" y1="13" y2="13"
                ></line><line x1="18" x2="18.01" y1="11" y2="11"></line><rect
                  width="20"
                  height="12"
                  x="2"
                  y="6"
                  rx="2"></rect></svg
              >
            </div>
          </div>
          <ul class="menu">
            <li class="light">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="28"
                height="28"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-gamepad"
                id="icon-inactive"
                ><line x1="6" x2="10" y1="12" y2="12"></line><line
                  x1="8"
                  x2="8"
                  y1="10"
                  y2="14"></line><line x1="15" x2="15.01" y1="13" y2="13"
                ></line><line x1="18" x2="18.01" y1="11" y2="11"></line><rect
                  width="20"
                  height="12"
                  x="2"
                  y="6"
                  rx="2"></rect></svg
              >Arcade
            </li>
            <li class="dark1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="28"
                height="28"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-gauge"
                id="icon-inactive"
                ><path d="m12 15 3.5-3.5"></path><path
                  d="M20.3 18c.4-1 .7-2.2.7-3.4C21 9.8 17 6 12 6s-9 3.8-9 8.6c0 1.2.3 2.4.7 3.4"
                ></path></svg
              >Neon
              <li class="dark2">
                <svg
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 512 512"
                  id="icon-inactive"
                  height="28"
                  width="28"
                  class="lucide galaxy"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    d="M342.5 17.9c-3.1 11.63-2.2 21.56-23.8 25.11 20.3-2.7 22.3 9.58 24.8 21.49-2.8 1.94-5.5 4.11-8.1 6.49-21.9 20.84-33 41.11-49 61.61-6.3 1.2 5.3-53.52 31.1-79.87C225.1 40.92 207.6 268.4 236.4 275c-51.7 18.4-72.6-98.3-59.4-157.3-37.1 3.9-62 39.8-67.9 60 2.8 27.1 6.1 55.1 38.7 80.9-32.1 3.6-42-27.8-55.31-54C13.9 309.5 198.4 311.4 228.5 299.1c-93 70.5-149.62 52.3-196.77 39-40.48 85.1 61.46 56 107.57 35.7-18.4 30.7-72.25 37.6-88.92 41 61.62 51.3 174.42-67 200.02-106.5 2.5 65.7-74.3 134.4-122.8 171.7 43.6 2.2 83.2-17.9 102.4-55.5 0 10.1-4.1 22.6-9.6 35.8 15-2.1 39.6-6.2 48.8-24.2 25-54.1 37.8-93.1 15.3-138.2 29.9 33.5 63.6 65.3 58.4 114.5 26.9-15.6 48.8-33.6 24.7-60.1 14.1 1.4 23.6 7.7 32.8 13.7 13.9-2.8 34.4-19.9 33.7-33-31.6-29.8-83.4-43.7-133.8-55.9 72.1-19.8 136.9-10.1 175.6 5.6 5-11.7 9.4-29.6 5.9-41.9-16.4-9.7-62.7-7.8-83.3-5.6 17.7-15.7 56.8-21.1 81.3-21.2-2-67.7-162.6 27.8-182.2 42.8 32.7-59.1 123.2-112.7 178.7-121.1-13.2-31.1-37.2-34-64.3-22.4 2.4-9.5 6.7-17.49 23.4-15.29-21.6-3.51-20.7-13.44-23.8-25.07-2.4 13.55-4.1 17.11-19.4 26.67 14.3-2.17 16.4 6.69 17.4 14.69-53.5 24.4-117.8 102.8-135.1 132.5-22.1-24 51-121.5 107.7-187.46-3.1-9.48-21.8-6.31-38.2 4.81 1.1-8.63.7-22.16 17.9-19.54-15.3-9.6-17-13.16-19.4-26.71zm-166.3.3c5.4 10.73 12.7 17.53-1 34.56 13.8-16.07 23.7-7.13 33.9.22-4.6-7.19-16.3-17.67-.7-27.86-17.8 3.09-21.4 1.57-32.2-6.92zM47.71 26.61c-3.08 11.63-2.13 21.56-23.76 25.05 21.02-2.74 22.39 10.55 25.06 22.81 1.43-8.43-.28-23.97 18.14-21.16-15.27-9.59-16.98-13.15-19.44-26.7zm419.39 5.5c1.6 10.83 1.3 13.93-7.8 25.07 13.1-6.8 15.9 5.39 19.1 11.38-1.2-9.97-3.4-20.36 13.1-23.64-17.2 2.87-19.1-4.85-24.4-12.81zM125.3 84.28c-.6 18.02-12 17.32-22.7 17.92 7 2.4 20.3 3 15.3 18.2 10.2-11.6 13.3-12.5 25.2-12.6-9.4-4.3-17.8-4.9-17.8-23.52zM71.21 153.9c-8.61 8.5-12.85 17.5-33.24 9.6 19.47 8.3 13.98 20.4 10.08 32.4 5.46-6.6 11.9-20.9 26.35-9.1-8.38-16-8.02-19.9-3.19-32.9zM453.9 282.7c-2.4 8.9-1.7 16.5-18.2 19.2 16-2.1 17.1 8.1 19.2 17.5 1.1-6.5-.2-18.4 13.8-16.3-11.7-7.3-13-10-14.8-20.4zM69.25 293.8c-12.82 12.7-16.72 13.5-30.41 12.7 10.55 5.7 20.39 7.1 18.72 29 2.3-21.1 15.46-19.4 28.05-19.1-7.83-3.3-23.4-5.3-16.36-22.6zm394.55 50.7c3.1 11.6 8.9 19.7-8 33.6 16.8-12.9 24.6-2.2 33.2 7.1-3.1-8-12.4-20.6 4.9-27.4-18-.5-21.3-2.8-30.1-13.3zm-139.2 72.1c-2.7 12.3-4.1 25.5-25.1 22.8 21.6 3.5 20.7 13.4 23.8 25 2.4-13.5 4.1-17.1 19.4-26.6-18.4 2.8-16.7-12.8-18.1-21.2zM83.9 438.2c-2.83 16-4.84 20.2-22.86 31.5 21.68-3.3 19.67 15.1 21.33 25 3.19-14.5 4.84-30.1 29.63-26.9-25.5-4.2-24.43-15.9-28.1-29.6zm366.2 11.4c-7.3 9.6-10.2 19.1-31.5 14.2 20.4 5.4 16.8 18.1 14.6 30.6 4.5-7.3 8.8-22.4 24.8-12.8-10.6-14.6-10.8-18.6-7.9-32z"
                  ></path></svg
                >Galactic
              </li>
            </li>
          </ul>
        </div>
        <!-- end dropdown menu -->
        <ul class="nav-list flex gap-4 m-4 font-semibold flex-wrap">
          <li>
            <a
              class="rounded-lg p-2 hover:underline underline-offset-4"
              href="#home">Home</a
            >
          </li>
          <li>
            <a class="hover:underline underline-offset-4" href="#about">About</a
            >
          </li>
          <li>
            <a class="hover:underline underline-offset-4" href="#work">Work</a>
          </li>
          <li>
            <a class="hover:underline underline-offset-4" href="#skills"
              >Skills</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<script src="../scripts/navbar/dropdown.js"></script>
<script src="../scripts/navbar/links.js"></script>