---
const { id } = Astro.props;
---

<section
  id={id}
  class="w-3/4 border-b border-th-tertiary flex justify-center items-center"
>
  <slot />
</section>

<script src="../scripts/scroll.js"></script>
